---
 const personalImageAlt = "Luis Fernando"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      I'm Luis Infanzon, a seasoned Web Developer with a passion for crafting cutting-edge web solutions that drive business success and enhance user experience. With my <strong>expertise in React, PHP, WordPress Development</strong>, and a solid track record in <strong>responsive and intuitive web design</strong>, I excel in translating complex business needs into effective <strong>digital strategies.</strong>
    </p>

    <p>
      In my career, I've led significant projects like the <strong>rebranding</strong> of academy.wizeline.com, managed and <strong>upgraded multiple websites</strong> at Thy Collection, and spearheaded <strong>IT management and digital transformation</strong> at M&T Consulting / Added Business Value. These roles have honed my skills in <strong>full-stack development, project management, and digital marketing.</strong>
    </p>

    <p>
      Armed with a Bachelor of Science in <strong>Administrative Computer Systems</strong> and professional certifications, I am committed to staying at the forefront of web technologies. I am eager to connect with professionals and organizations where I can bring my expertise in <strong>web development and digital innovation.</strong> Let's explore how my skills can contribute to your success!
    </p>
  </div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>