---
const personalImageAlt = "Luis Infanzón";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import MailIcon from "../components/icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="https://media.licdn.com/dms/image/C4E03AQHVKQNTwva_kA/profile-displayphoto-shrink_100_100/0/1633640162418?e=1718236800&v=beta&t=0_mzQNbURpdygnPQNmS3Ni5HrdzJ3rwSTku6sQ3mF4A"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/luisinfanzonm/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Open to Work</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, I'm Luis
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Experienced Web Developer.
    <strong>
      Proficient in JavaScript (React), PHP and WordPress Development.</strong
    >
    Innovator in Web Solutions and Digital Transformation.
    <strong>
      Skilled in SEO and Digital Marketing strategies.
    </strong>
  </p>

  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:luisfernandoim@gmail.com">
      <MailIcon class="size-4" />
      Contact me
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/luisinfanzonm/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
